# === JAVA ===
*.class
*.jar
*.war
*.ear
*.log

# === BUILD ===
/bin/
/build/
/target/

# === ECLIPSE ===
.metadata/

# === VS CODE ===
.vscode/

# === Operative System ===
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# === TEMPS / BACKUPS ===
*.tmp
*.bak
*.swp
*~
